.main {
    position: relative;
    background: #cfcfcf;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    min-height: calc(100vh - 30px);
    margin-top: 50px;
    padding: 30px;
    text-align: center;

}

.main .search {
    position: relative;
    /* text-align: center; */
    margin: 25px 0px;
}

.search input[type='text'] {

    padding: 10px;
    font-size: 16px;
    border: none;

}
.search input[type='button'] {

    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    /* font-weight: 500; */
    background-color: blue;
    color: #fff;

}

.search input[type='button']:hover {

    cursor: pointer;
    background-color: black;
    color: #fff;
    transition: ease-in-out .5s;

}

.main .app-content {

    text-align: center;
    margin: 0 auto;

}

.item {
    position: relative;
    width: 300px;
    text-align: center;
    display: inline-block;

}

.item ul li img {
    /* margin-right: 15px; */
    float: left;
}

.item ul {
    list-style: none;
}


.item ul li {

    cursor: pointer;
    margin-bottom: 2px;
    padding: 7px 0px;
    border: 1px solid black;

}

.item ul li:hover {
    background-color: crimson;
    color: #fff;
    transition: ease-in-out .2s;
}

.back-btn {
    font-size: 15px;
    color: #000;
    border: 1px solid;
    padding: 8px 15px;
    background-color: transparent;
}

.back-btn:hover {
    cursor: pointer;
    background-color: crimson;
    color: #fff;
}

